.button-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-icon-container-dark {
  background-color: var(--color-neutral-700);
}

.button-icon-container-light {
  background-color: var(--color-neutral-200);
}

.button-icon-container:hover {
  animation: animationButtonHover 0.2s both;
}

@keyframes animationButtonHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
