.homeContainer {
  width: 100%;
  height: auto;
}

.homeMainContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.homeTitle {
  font-family: var(--font-noto);
  font-size: 42px;
}

.homeTitleDark {
  color: var(--color-neutral-0);
}

.homeTitleLight {
  color: var(--color-neutral-900);
}

@media (max-width: 768px) {
  .homeMainContainer {
    flex-direction: column;
    align-items: center;
  }

  .homeTitle {
    font-size: 36px;
  }
}
